[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-openai = "*"
pypdf = "*"
rapidocr-onnxruntime = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
